.git
.gitignore

.next
node_modules

.env
.env.*
!.env.example

innergeodessa-mvp/backend/.venv
innergeodessa-mvp/backend/__pycache__
innergeodessa-mvp/backend/**/*.pyc

innergeodessa-mvp/backend/innergeodessa.db
innergeodessa-mvp/backend/*.db

coverage
dist
tmp
.DS_Store
